#reset{
    text-align: center;
    font-size: 40px;
    padding-top:100px;
    margin: auto;
   
}
#link{
    text-align: center;
    font-size: 15px;
    padding-bottom:70px;
    margin: auto;
    display: block;
}
#fmessage{
    color: red;
    margin:2px;
    display:block;
    text-align:center;
    font-size: 18px;
}
#femail{
    display: block;
    width: 25%;
    height: 40px;
    margin: auto;
    position: center;
    text-align: center;
    border-color: #050505;
    border-style: solid;
    border-radius: 5px;
    font-size: 18px;
    border-width: 2px;
}
#fbutton{
    width:15%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    position: center;
    margin: auto;
    display: block;
    background: #0f79f1;
    color: white;
    text-align: center ;
    font-size: 16px;
    border-width: 0;
}
#fbutton:hover{
    background: rgba(255, 255, 255, 0.67);
    color: black;
    border-width: 2px;
    border-color: black;
    cursor: pointer;

}

@media screen and (max-width: 415px) {
    #reset{
     font-size: 30px;
    }
    #link{
        font-size: 13px;
        padding-bottom: 30px;
    }
    #femail{
        width: 60%;
        height: 30px;
        border-radius: 8px;
        border-width: 1px;
        font-size: 15px;
    }
    #fbutton{
        width: 40%;
        height: 30px;
        font-size: 15px;
        font-family: "Arial  Bold";
        border-width: 0;
        border-radius: 5px;
    }
    #fbutton:hover{
    background: #dddddd;
    color: black;
}
}